.myBackgroundBody{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10; 
  overflow-x: hidden;

}

@media (max-width: 900px) {
  .myBackgroundBody {
    display: none;
  }
}

