.contact-section {
  width: 100%;
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
  
  background-color: var(--myDarkGreen);
  
}

.contact-intro > * + * {
  margin-top: 1vw;
}

.contact-title {
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 700;
    color: var(--myBrown);

}

.contact-description {
  color: var(--myBrown);
  font-size: 2vw;
  
}

.form-group-container {
  display: grid;
  gap: 1vw;
  margin-top: 1vw;
  
  
}

.form-group {
  display: flex;
  flex-direction: column;
  
}

.form-label {
  margin-bottom: 0.2vw;
    color: var(--myBrown);

}

.form-input,
.form-textarea {
  padding: 1vw;
  border: 1px solid #e5e7eb;
  display: flex;
  height: 3vw;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 1.2vw;
  line-height: 1.25rem;
  color: var(--myBrown);
  background-color: var(--myDirtyAntique);
}

.form-input::placeholder,
.form-textarea:focus-visible {
  
  background-color: var(--myDirtyAntique);
}

.form-input:focus-visible,

.form-textarea:focus-visible {
 
  outline-offset: 2vw;
}

.form-textarea {
  height: 8vw;
}

.form-submit {
  width: 100%;
  height: 4vw;
  margin-top: 1.2vw;
  background-color: var(--myOrange);
  color: var(--myDirtyAntique);
  padding: 13px 5px;
  border-radius: 0.375rem;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;

}
